:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

content {
    flex: 1 0 auto;

    section {
        max-width: 600px;
        margin: 0 auto;
    }
}

vg-rmod-training-footer {
    flex-shrink: 0;
}